{{> navbar}}

<header>
  <h2>Dashboard</h2>
</header>
<div>
  {{#each posts}}
  {{!-- This title should be an anchor tag and should redirect you to the user associated with the user of the post  --}}
  {{!-- By grabbing the user_id --}}
  <h3>{{title}}</h3>
  <p>{{content}}</p>

  {{/each}}
</div>

{{!-- <article>
  <footer>
    <a href="#" role="button">View</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="secondary">Delete</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="contrast">Update</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="outline">Edit</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="contrast outline">Cancel</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="secondary outline">Save</a>
  </footer>
</article> --}}
