{{> navbar}}

<article data-theme="dark">

<header>
  <h2>Add Post</h2>
</header>

<form action="/api/post" method="POST">
<input type="title" name="title" id="title" value="" />
<input type="content" name="content" id="content" value="" />
<button type="submit">Submit</button>
</form>
</article>

