{{> navbar}}
<article data-theme="dark">
<header>
  <h2>Login</h2>
  </header>
 <form action="/api/users/login" method="POST">

  <input id="email" class="input" type="email" placeholder="Email" />
    <input id="password" class="input" type="password" placeholder="Password"/>
      <button type="submit">Submit</button>
 </form>

</article>
