{{> navbar}}
<article data-theme="dark">
<header>
  <h2>Login</h2>
  <form action="/api/users/login" method="POST">
  <input type="email" name="email" id="id" />
  <input type ="password" name="password" id="password" />
  <button type="Submit"></button>
  </form>
</header>
</article>
